#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background: url(https://user-images.githubusercontent.com/110619143/200612032-08ed6653-4f46-4150-8fac-40546c5bf958.png)
    no-repeat;
  background-size: 50% auto;
  object-fit: cover;
  background-position: center;
  width: 50px;
}

.swiper-button-prev {
  background: url(https://user-images.githubusercontent.com/110619143/200610329-15eada07-f31b-458d-9835-7d4329698bb0.png)
    no-repeat;
  background-size: 50% auto;
  object-fit: cover;
  background-position: center;
  width: 50px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
